<%- include('../template/head'); -%>

<script>
    var Sellby_peritem_block = $($.parseHTML(
        '<div id="sellby_peritem_block">' +
        '   <div class="col-md-4">' +
        '      <label for="type">Cost Per Unit Product:</label>' +
        '      <div class="form-group has-feedback">' +
        '      <input type="number" name="cost" required="true"  class="form-control" value="<%=product.sellby.cost %>"   />' +
        '      <span class="glyphicon glyphicon-book form-control-feedback"></span>' +
        '       </div>' +
        '   </div>' +
        '</div>', $('#form-product').get(0),true ));

    var Sellby_parametermultiple_block=$($.parseHTML(''+
        '<div id="sellby_parametermultiple_block">' +
        '  <div class="col-md-7">' +
        '    <label for="type">Parameters:</label>' +
        '    <select multiple="multiple" required="true" name="parameter[]" id="select-fixed-multiple-for-parameters">' +
        '   </select>' +
        '  </div>'+
        '  <div class="col-md-5">' +
        '    <label for="type">Cost (Multiple Of Parameters):</label>' +
        '    <div class="form-group has-feedback">' +
        '      <input type="number" name="cost" required="true"  class="form-control" value="<%=product.sellby.cost %>"  />' +
        '      <span class="glyphicon glyphicon-book form-control-feedback"></span>' +
        '    </div>' +
        '  </div>'+
        '</div>'/*+
                        "<script type='text/javascript'>$('#select-fixed-multiple-for-parameters').select2({minimumResultsForSearch: Infinity,placeholder: 'Select a Parameter',maximumSelectionSize: 3,maximumSelectionLength: 3,tags:false,data: Parameters_data,});</ script>"
                        */, $('#form-product').get(0), true));

    var Sellby_rawsum_block=$($.parseHTML(''+
        '<div id="sellby_parametermultiple_block">' +
        '  <div class="col-md-7">' +
        '    <label for="type">Parameters:</label>' +
        '    <select multiple="multiple" required name="parameter[]" id="select-fixed-multiple-for-parameters">' +
        '</select>' +
        '  </div>'+
        /* '  <div class="col-md-5">' +
         '    <label for="type">Cost (Multiple Of Parameters):</label>' +
         '    <div class="form-group has-feedback">' +
         '      <input type="text" name="cost" required  class="form-control" placeholder="00.00"  />' +
         '      <span class="glyphicon glyphicon-book form-control-feedback"></span>' +
         '    </div>' +
         '  </div>'+*/
        'pending part where need to handle rawitem effect w.r.t parameters '+
        '</div>', $('#form-product').get(0), true));


    var paramInitUrl='/admin/parameters_list_ajax';
    var Parameters_data=[];
    var selected_params= [<% product.sellby.parameters.forEach(p=>{ %>
      {id: "<%=p._id%>", text: "<%=p.name%>", quantity: "<%=p.quantity%>", selected:true},
    <% }); %>];

    var Select2parameters={
        // minimumInputLength: 1,
        minimumResultsForSearch: Infinity,
        // width: 400,
        // containerCssClass: 'bg-teal-400',
        placeholder: "Select a Parameter",
        maximumSelectionSize: 3,
        maximumSelectionLength: 4,
        tags:false,
         // data: Parameters_data,
    };
    $.ajax({url: paramInitUrl,type: 'GET',async: true,success: function(data, textStatus, jqXHR){
        Parameters_data=data.data.map(val=> {
          return selected_params.findIndex(p => p.id === val.id)===-1 ? Object.assign({} , val):Object.assign({ selected: true } , val);
        });
        $("#select-fixed-multiple-for-parameters").select2(Object.assign(Select2parameters,{ data: Parameters_data }));
        },});
</script>


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Product Data Updation
            <small>Here we Edit Product</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row" id="msg">
            <p></p>
        </div>
        <form id="form-product" method="post" >
            <div class="row">
                <div class="col-md-4">
                    <input type="hidden" required name="pid" value="<%=product._id%>">
                    <label for="type">Add Name:</label>
                    <div class="form-group has-feedback">
                        <input type="text" name="name" required  class="form-control" placeholder="New Product Name" value="<%= product.name %>" />
                        <span class="glyphicon glyphicon-book form-control-feedback"></span>
                    </div>
                </div>

                <div class=" col-md-2">
                    <div class="form-group ">
                        <label for="material">Select Material:*</label>
                        <select name="material" class="form-control" required id="material" >
                        <% for(var i=0; i < materials.length; i++) {  %>
                        <option value="<%= materials[i]._id %>" <%= (product.material._id===materials[i]._id)?'selected':'' %>>
                            <%= materials[i].name %>
                        </option>
                        <% } %>
                        </select>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-group ">
                        <label for="type">Select type:*</label>
                        <select name="type" class="form-control" required id="type" >
                        <% for(var i=0; i < types.length; i++) {  %>
                        <option value="<%= types[i]._id %>" <%= (product.type._id===types[i]._id)?'selected':'' %>>
                            <%= types[i].name %>
                        </option>
                        <% } %>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="type">Add Discription:</label>
                    <div class="form-group has-feedback">
                        <textarea name="discription" id="" rows="1" class="form-control" placeholder="Discription"><%=product.discription%></textarea>
                        <span class="glyphicon glyphicon-book form-control-feedback"></span>
                    </div>
                </div>
            </div>

            <section class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group ">
                            <label for="sellby">Select Sell Procedure:*</label>
                            <select name="sellby" class="form-control" required id="sellby" >
                                <option <%if(product.sellby.by=="peritem"){%>selected<%}%> value="peritem">Cost as PerItem Price</option>
                                <option <%if(product.sellby.by=="parametermultiple"){%>selected<%}%> value="parametermultiple"> Cost as multiple of patamenters (length*breath)</option>
                                <option <%if(product.sellby.by=="rawsum"){%>selected<%}%> value="rawsum"> Cost by Selected RawProduct sum</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row" id="sellbyhandleblock"></div>

                <script>
                    var Sellby=$('#sellby');
                    var Sellbyhandleblock=$('#sellbyhandleblock');
                    Sellby.on('change',function (e) {
                        switch (e.target.value) {
                            case 'peritem':
                                Sellbyhandleblock.html(Sellby_peritem_block.html());
                                break;
                            case 'parametermultiple':
                                Sellbyhandleblock.html(Sellby_parametermultiple_block.html());
                                break;
                            case 'rawsum':
                                Sellbyhandleblock.html(Sellby_rawsum_block.html());
                                break;
                            default:
                                Sellbyhandleblock.html(Sellby_peritem_block.html());
                        }
                        $("#select-fixed-multiple-for-parameters").select2(Object.assign(Select2parameters,{ data: Parameters_data }));
                    });
                    Sellby.trigger('change');
                </script>
            </section>

        </form>
        <div class="row">
            <div class="col-md-offset-1 col-md-7">
                <button id="submit-button-product" class="btn btn-primary btn-block ">Update Product</button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <input type="file" class="file-input-files" multiple="multiple">
            </div>
        </div>
        <hr>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script>
    var productID='<%=product._id%>';
    var formUrl='/admin/productupdate';
    var uploadUrl='/admin/contentreg';
    // custom
    $(function () {
        // Modal template
        var modalTemplate = '<div class="modal-dialog modal-lg" role="document">\n' +
            '  <div class="modal-content">\n' +
            '    <div class="modal-header">\n' +
            '      <div class="kv-zoom-actions btn-group">{toggleheader}{fullscreen}{borderless}{close}</div>\n' +
            '      <h6 class="modal-title">{heading} <small><span class="kv-zoom-title"></span></small></h6>\n' +
            '    </div>\n' +
            '    <div class="modal-body">\n' +
            '      <div class="floating-buttons btn-group"></div>\n' +
            '      <div class="kv-zoom-body file-zoom-content"></div>\n' + '{prev} {next}\n' +
            '    </div>\n' +
            '  </div>\n' +
            '</div>\n';

        // Buttons inside zoom modal
        var previewZoomButtonClasses = {
            toggleheader: 'btn btn-default btn-icon btn-xs btn-header-toggle',
            fullscreen: 'btn btn-default btn-icon btn-xs',
            borderless: 'btn btn-default btn-icon btn-xs',
            close: 'btn btn-default btn-icon btn-xs'
        };

        // Icons inside zoom modal classes
        var previewZoomButtonIcons = {
            prev: '<i class="icon-arrow-left32"></i>',
            next: '<i class="icon-arrow-right32"></i>',
            toggleheader: '<i class="icon-menu-open"></i>',
            fullscreen: '<i class="icon-screen-full"></i>',
            borderless: '<i class="icon-alignment-unalign"></i>',
            close: '<i class="icon-cross3"></i>'
        };

        // File actions
        var fileActionSettings = {
            showUpload: true,
            zoomClass: 'btn btn-link btn-xs btn-icon',
            zoomIcon: '<i class="icon-zoomin3"></i>',
            dragClass: 'btn btn-link btn-xs btn-icon',
            dragIcon: '<i class="icon-three-bars"></i>',
            removeClass: 'btn btn-link btn-icon btn-xs',
            removeIcon: '<i class="icon-trash"></i>',
            indicatorNew: '<i class="icon-file-plus text-slate"></i>',
            indicatorSuccess: '<i class="icon-checkmark3 file-icon-large text-success"></i>',
            indicatorError: '<i class="icon-cross2 text-danger"></i>',
            indicatorLoading: '<i class="icon-spinner2 spinner text-muted"></i>'
        };

        var fileuploader=$(".file-input-files");
        var pform=$('#form-product');
        var subButton=$('#submit-button-product');

        var formValid=function () {
            //console.log('form validity check');
            return pform[0].checkValidity();};
        var ajaxUnsucessCallback=function (jqXHR, textStatus, errorThrown) {
            var msg = 'An error has occurred' + ' : ' + jqXHR.responseJSON.msg;
            $('#msg').html("<div class='alert alert-danger alert-dismissable fade in'><strong>"+msg+"</strong></div>");
            // alert(msg);
            // console.log('form ajax error :'+textStatus+errorThrown,jqXHR.responseJSON.msg);
        };
        var ajaxSucessCallback=function (data, textStatus, jqXHR) {
            var msg="<div class='alert alert-success alert-dismissable fade in'><strong>"+data.msg+"</strong><br>"+data.product.name+"</div>";
            $('#msg').html(msg);
            /*console.log('form submit sucess with:',data);
            console.log('form submit sucess with jqXHR:',jqXHR.responseJSON);*/

        };
        var ajaxProductForm=function () {
            var formObj = {};
            // check form validity
            if (formValid){
              var inputs=pform.serializeArray();

              // console.log('form is valid and about to submit');
                var res = $.ajax({
                    url: formUrl,
                    type: 'POST',
                    async: false,
                    data: inputs,
                    error: ajaxUnsucessCallback,
                    // dataType: 'jsonp',
                    success: ajaxSucessCallback,
                });
                // console.log('File success form ajax ', productID);
                return true;
            }else{
                $('#msg').html("<div class='alert alert-danger alert-dismissable fade in'><strong>Form validity error has occurred</strong></div>");
                //console.log('form not valid');
                return false;}
        };



        // submit the form with uploads start
        subButton.on('click', ajaxProductForm);

        fileuploader.fileinput({
            uploadUrl: uploadUrl, // server upload action
            uploadAsync: true,
            maxFileCount: 100,
            browseLabel: 'Browse',
            browseOnZoneClick:true,
            showBrowse:true,
            showUpload:true,
            showCancel:true,
            dropZoneEnabled:true,
            required:true,
            mergeAjaxCallbacks:false,
            //ajaxSettings:{},
            browseIcon: '<i class="icon-file-plus"></i>',
            uploadIcon: '<i class="icon-file-upload2"></i>',
            removeIcon: '<i class="icon-cross3"></i>',
            // layoutTemplates: {
            //     icon: '<i class="icon-file-check"></i>',
            //     modal: modalTemplate
            // },
            layoutTemplates: {
                icon: '<i class="icon-file-check"></i>',
                main: "{preview}\n" +
                "<div class='input-group {class}'>\n" +
                "   <div class='input-group-btn'>\n" +
                "       {browse}\n" +
                "   </div>\n" +
                "   {caption}\n" +
                "   <div class='input-group-btn'>\n" +
                "       {upload}\n" +
                "       {remove}\n" +
                "   </div>\n" +
                "</div>",
                modal: modalTemplate
            },
            initialPreview: [
                <%product.contents.forEach(function (content) {%>
                    "<%=siteUrl+content.path+content.thumb%>",
                <%});%>
            ],
            initialPreviewConfig: [
                <%product.contents.forEach(function (content) {%>
                {
                    caption : '<%content.originalname%>',
                    width: '120px',
                    url: '/admin/singlecontentdelete', // server delete action
                    //key:100 ,
                    size: <%=content.size%>,
                    extra: {cid:'<%=content._id%>',pid: productID}
                },
                <%});%>
            ],
            maxFilesNum: 10,
            maxFileSize:25*1024,//25Mb
            //minFileSize:0,
            //allowedPreviewTypes:['image'],
            initialPreviewFileType: 'image',
            allowedFileExtensions: ["jpg", "gif", "png"],
            initialPreviewAsData: true,
            overwriteInitial: false,
            initialCaption: "Add Images To This Product",
            previewZoomButtonClasses: previewZoomButtonClasses,
            previewZoomButtonIcons: previewZoomButtonIcons,
            fileActionSettings: fileActionSettings,
            uploadExtraData: function (previewId, index) {
                return (productID!==null)? {productID:productID}:{};
            },
        });
    });
</script>

<%- include('../template/foot'); -%>